<a href="https://colab.research.google.com/github/JD950/NoSQL_notebook/blob/main/PyMongo_Cosmos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Connection string 
import pymongo
uri = "mongodb://randomwhale:hN837NgLsDvLuQOIlMJ9klk71vdcxDoYtat8Cs5RjA4k4q0Y7DjqLwGBn1N12U46dtsdWsXvBgjuHDg75UlGWg==@randomwhale.mongo.cosmos.azure.com:10255/?ssl=true&retrywrites=false&replicaSet=globaldb&maxIdleTimeMS=120000&appName=@randomwhale@"
client = pymongo.MongoClient(uri)

In [ ]:
mydb = client["dodoisdancing"]

In [ ]:
mycol = mydb["Favourite dance"] # Collection name

In [ ]:
mydict = { "name": "John", "dance": "Makarena" }

x = mycol.insert_one(mydict)

In [ ]:
mydict = { "name": "Jose", "age": 30 }

x = mycol.insert_one(mydict)

In [ ]:
r2 = { "name": "Monica", "complex": mydict , "subjects":["eng","fr","gt"]}

x = mycol.insert_one(r2)

In [ ]:
# MongoDB-> Document Database 
for x in mycol.find():
  print(x)

{'_id': ObjectId('619bc075a07788b5c868f6b2'), 'name': 'John', 'dance': 'Makarena'}
{'_id': ObjectId('619bc07ea07788b5c868f6b3'), 'name': 'Jose', 'age': 30}
{'_id': ObjectId('619bc090a07788b5c868f6b4'), 'name': 'Monica', 'complex': {'name': 'Jose', 'age': 30, '_id': ObjectId('619bc07ea07788b5c868f6b3')}, 'subjects': ['eng', 'fr', 'gt']}

In [ ]:
for x in mycol.find({"name":"Jose", "age":30}).limit(1):
  print(x)

{'_id': ObjectId('619bc07ea07788b5c868f6b3'), 'name': 'Jose', 'age': 30}

In [ ]:
myquery = { "name": { "$regex": "e$" } } 
# regular expression that ends with letter 'p'

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('619bc07ea07788b5c868f6b3'), 'name': 'Jose', 'age': 30}